.fader-handle {
    background-color: #000000;
    height: 20px;
    width: 80px;
    position: absolute;
    bottom: 0;
}

.fader-box {
    background-color: red;
    width: 50px;
    position: relative;
}

.fader-track {
    height: 200px;
}
